* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

body.bg-films {
    background-image: url('./assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    /* background: black; */
    padding: 2rem 5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 26.74%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

header img {
    width: 150px;
}

.box-login {
    height: 80vh;
    padding: 4rem;

    background: rgba(1, 1, 1, 0.87);
    opacity: 0.8;
    border-radius: 12px;
}

.box-login h1 {
    margin-bottom: 2.5rem;
}

.box-login-form input {
    margin-bottom: 1rem;
    padding: 1.8rem;
}

.btn-custom-rounded {
    padding: 5px 9px !important;
}

.opacity-50 {
    opacity: .5;
}


/** LANDING **/
.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}
.menu_list a {
    color: #fff;
}

#hero {
    height: 700px;
    background-image: url('./assets/images/diabo-nosso-de-cada-dia-capa.png');

    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    z-index: 1;
    top: 0;

}

#hero_infos {
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#hero::after {
    content: '';
    width: 100%;
    height: 350px;
    display: block;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 76.34%);
    position: absolute;
    left: 0;
    top: calc(700px - 350px);
    z-index: 2;
}

#hero_infos img.logo {
    margin-bottom: 50px;
    width: 500px;
}

.icon_top10 {
    width: 35px;
    height: 35px;
    margin-top: -10px;
}

.btn_custom_white {
    background: #fff;

}

.btn_custom_white:hover {
    opacity: .8;
}

.btn_custom_translucent {
    background: #FFFFFF5C;
    color: #fff;
}

.btn_custom_translucent:hover {
    color: #fff;
    opacity: 0.8;
}

.main_content {
    margin-top: 700px;
}

.main_content section {
    margin-bottom: -100px;
    position: relative;
}

.main_content section:hover {
    z-index: 9;
}

.film_list {
    /* overflow-x: scroll; */
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;
    
}

.film {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 4px;
    overflow: auto;
    border: 1px solid transparent;
    transition: .5s;
}

.film:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
}

.film:hover .film_info {
    transform: scale(1);
}

.film_info {
    background: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
    transition: .5s;
}

.film_info .col-12 {
    margin-top: 5px;
}

.film_info .col-12:first-child {
    margin-bottom: 20px;

}

.film_info .col-12 p {
    background: #FFFFFF38;
    font-size: 12px;
}

.film_info p span {
    color: #fff;
}


/** MODAL **/
.modal-dialog {
    max-width: 600px;
}
.modal-dialog,
.modal-content {
    background: #171717;
}

.modal-hero {
    position: relative;
    margin-bottom: 30px;
}

.modal-hero::after {
    content: '';
    width: 100%;
    height: 200px;
    display: block;

    background: linear-gradient(180deg, rgba(25, 24, 24, 0) -8.82%, rgba(25, 24, 24, 0.99) 100%, #191818 100%);

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

}

.modal-hero img {
    width: 100%;
}

.modal-hero-infos {
    position: absolute;
    bottom: 15px;
    z-index: 5;
}

.modal-hero-infos button {
    margin-right: 20px;
}

.film_description {
    font-size: 15px;
    color: #FFFFFF78;
}

.film_team {
    font-size: 13px;
    color: #FFFFFF78;
}

.film_team text {
    color: #fff;
}

.list_episodes {
    padding: 20px 0;
}

.list_episodes li {
    padding: 20px;
    color: #FFFFFF78;
    font-size: 14px;
    transition: .5s;
}

.list_episodes li img {
    width: 100%;
}

.number-episode {
    font-size: 18px;
    font-weight: bold;
}

.list_episodes li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1)
}
